.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  position: relative;
}

.title {
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}
