.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  position: relative;
}

.title {
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}

.create {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6C63FF;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    position: fixed;
    bottom: 32px;
    right: 50px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #5850DD;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(88,80,221,1);
      -moz-box-shadow: 0px 0px 4px 0px rgba(88,80,221,1);
      box-shadow: 0px 0px 4px 0px rgba(88,80,221,1);
      transition: all 0.3s ease;
    }
  }
}
